#bots-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	li {
		list-style-type: none;
	}
	img {
		height: 100px;
		width: 100px;
		object-fit: cover;
		border-radius: 50%;
		opacity: 40%;
		border: 5px transparent solid;
		position: relative;
		cursor: pointer;

		&:hover {
			opacity: 100%;
		}
	}

	.selected {
		opacity: 100%;
		border: 5px rgb(255, 241, 115) solid;
	}
}

#choose {
	height: 35vh;
	h2 {
		margin-top: 0;
		padding-top: 10px;
	}
}
