#bots-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	overflow-x: scroll;
	padding-inline-start: 0;

	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	li {
		list-style-type: none;
	}
	img {
		height: 15vw;
		width: 15vw;
		max-height: 100px;
		max-width: 100px;
		object-fit: cover;
		border-radius: 50%;
		opacity: 40%;
		border: 5px transparent solid;
		position: relative;
		cursor: pointer;

		&:hover {
			opacity: 100%;
		}
	}

	.selected {
		opacity: 100%;
		border: 5px rgb(255, 241, 115) solid;
	}
}

#choose {
	height: 33vh;
	width: 100vw;

	h2 {
		margin-top: 0;
		padding-top: 10px;
		font-size: min(4vw, 1.5em);
	}
}
