#bots-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	li {
		list-style-type: none;
	}
	img {
		height: 100px;
		width: 100px;
		object-fit: cover;
		border-radius: 50%;
		opacity: 50%;

		& .selected {
			opacity: 100%;
		}
	}
}
