footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 4.5vh;
}

i {
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: inherit;
}

#links {
	a {
		padding-left: 20px;
	}
}
