#submit-prompt {
	background-color: inherit;
	border: none;
	color: rgb(255, 0, 234);
	cursor: pointer;
}

textarea {
	width: 70vw;
	font-family: inherit;
	resize: none;
}

form {
	height: 5vh;
	padding-bottom: 20px;
}
