#messages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	li {
		border-radius: 5px;
		background-color: rgb(186, 237, 255);
		list-style-type: none;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.prompt {
	align-self: flex-end;
}

.response {
	align-self: flex-start;
}
