#messages {
	display: flex;
	flex-direction: column-reverse;

	padding-inline-start: 0px;
	padding: 10px;
	// height: 50vh;
	overflow-y: scroll;
	// width: 100vw;

	li {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 80vw;
	}
	p {
		border-radius: 5px;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

p.prompt {
	align-self: flex-end;
	background-image: linear-gradient(
		to bottom right,
		rgb(186, 237, 255),
		rgb(117, 242, 194)
	);
}

li.response {
	align-self: flex-start;
}
li.prompt {
	align-self: flex-end;
}

p.response {
	background-image: linear-gradient(
		to bottom right,
		rgb(247, 204, 255),
		rgb(218, 145, 255)
	);
}

.message-avatar {
	height: 30px;
	width: 30px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}
